@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Nunito+Sans:wght@400;700&display=swap');


body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    background-color: #1E1E1E;
    font-family: 'Inconsolata', monospace;
    font-family: 'Nunito Sans', sans-serif;
}

.game-area {
    display: flex;
    flex-direction: column;
    gap: 2px;
    position: relative;
    border: #deb887 1px solid;
}

.game-area__line {
    display: flex;
    flex-direction: row;
    gap: 2px;
}

.game-area__item {
    height: 40px;
    width: 40px;
    background-color: #383B3D;
}

.top-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-bar__scores {
    color: #deb887;
}

.snake__section {
    background-color: #1e90ff !important;
}

@keyframes apple-pulsation {
    from {
        width: 40px;
        height: 40px;
    }

    to {
        width: 45px;
        height: 45px;
    }
}

.apple {
    background-color: #ff1493 !important;
    /* animation-duration: 250ms; */
    /* animation: apple-pulsation 250ms infinite alternate; */
}

.pre-start {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pre-start__btn {
    font-size: 1.5em;
    color: white;
    background-color: #1e90ff;
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
    padding: 0.7em;
    transition: 250ms;
}

.pre-start__btn:hover {
    transform: scale(1.1);
}